<div class="modal-header">
  <h4 class="modal-title">Sélectionner les joueurs</h4>
</div>
<div class="modal-body" ng-controller="PJController as vmPj">
  <div class="form-group fg-line">
    <label class="fg-label">Recherche</label>
    <input class="input-sm form-control fg-input" type="text" ng-model="vmPj.filter">
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Niveau</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="pj in vmPj.list">
        <td>
          <button class="btn btn-primary btn-sm m-t-10 waves-effect" type="button">Add</button>
          {{pj.name}}
        </td>
        <td>
          {{pj.level}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-12">
    <uib-pagination total-items="vmPj.totalItems" ng-model="vmPj.currentPnjPage" ng-change="vmPj.setPage()"></uib-pagination>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-link">Close</button>
</div>
