<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row row-eq-height">
        <div class="col-xs-1">
          <button data-ui-sref="home" class="btn btn-danger btn-icon waves-effect waves-circle"><i class="zmdi zmdi-arrow-back"></i></button>
        </div>
        <div class="col-xs-11 vcenter">
          <h2>Campaign List</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body card-padding">
Liste des campagnes ici
    </div>
  </div>
</div>
