.power-class-row {
  border-top: 1px ridge;
  margin-top: 5px;
  padding-top: 5px;
}

.icon-pv {
  font-size: 23px;
  vertical-align: middle;
}

.line-through {
  text-decoration: line-through;
}

.campaign-button {
  text-align: center;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.vcenter{
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.cursor-pointer {
  cursor: pointer;
}

@media (min-width: 480px) {
  .lv-title-list {
    width: 100%;
    padding: 17px 35px 17px 25px;
  }
}

@media (max-width: 767px) {
  .lv-title-list {
    width: 100%;
    padding: 17px 35px 17px 20px;
  }
}

@media (min-width: 480px) {
  .listview.lv-lg .lv-item-campaign {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .listview.lv-lg .lv-item-campaign {
    padding: 0;
  }
}

#canvasContainer {
  overflow: hidden;
}

.btn-rigth-float {
  right: 45px;
  z-index: 10;
  margin-top: 15px;
}

.btn-left-float {
  left: 45px;
  margin-top: 15px;
  z-index: 10;
}
