.power-class-row {
  border-top: 1px ridge;
  margin-top: 5px;
  padding-top: 5px;
}

.icon-pv {
  font-size: 23px;
  vertical-align: middle;
}

.line-through {
  text-decoration: line-through;
}

.campaign-button {
  text-align: center;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.vcenter{
  display:flex;
  flex-direction:column;
  justify-content:center;
}

