<div class="modal-header">
  <h4 class="modal-title">Add Effect</h4>
</div>
<div class="modal-body">
  <p class="c-black f-500 m-b-20">Basic Example</p>
  <div class="form-group">
    <div class="fg-line">
      <div class="select">
        <select class="form-control" ng-options="player.name for player in vmRD.playerList" ng-model="vmRD.currentModalEffectData.playerTarget">
        </select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="fg-line">
      <input type="text" placeholder="Duration (0 infinite)" ng-model="vmRD.currentModalEffectData.duration" class="form-control input-sm">
    </div>
  </div>
  <div class="form-group">
    <div class="fg-line">
      <div class="toggle-switch">
        <label for="ts1" class="ts-label">Sauvegarde annule</label>
        <input id="ts1" type="checkbox" hidden="hidden" ng-model="vmRD.currentModalEffectData.sauvegarde">
        <label for="ts1" class="ts-helper"></label>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-link" ng-click="vmRD.addEffectModal()">Ajouter</button>
  <button class="btn btn-link" ng-click="vmRD.closeModal()">Cancel</button>
</div>
