<div class="modal-header">
  <div class="row row-eq-height">
    <div class="col-xs-1 vcenter">
      <button ng-click="vmRG.closeModal()" class="btns btn-danger btn-icon waves-effect waves-circle"><i class="zmdi zmdi-arrow-back"></i></button>
    </div>
    <div class="col-xs-11 vcenter">
      <h3>Prologue au combat</h3>
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="list-group">
    <a href ng-click="vmRG.nextStep()" class="list-group-item"><i class="zmdi zmdi-home"></i> Il y a un round de surprise.</a>
    <a href ng-click="vmRG.nextStep(2)" class="list-group-item"><i class="zmdi zmdi-home"></i> Pas de round de surprise  : Lancer l'initiative.</a>
  </div>
</div>
<div class="modal-footer">
</div>
